<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.uninorte.neumoniaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComorbilidadesActivity"
            android:label="@string/title_activity_comorbilidades"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RiesgoSocialActivity"
            android:label="@string/title_activity_riesgo_social"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DatosGeneralesActivity"
            android:label="@string/title_activity_datos_generales"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ConfiguracionActivity"
            android:label="@string/title_activity_configuracion"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ParaclinicosAActivity"
            android:label="@string/title_activity_paraclinicos_a"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DefinirGravedadActivity"
            android:label="@string/title_activity_definir_gravedad"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RecomendacionesActivity"
            android:label="@string/title_activity_recomendaciones"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RiesgoGermenMedActivity"
            android:label="@string/title_activity_riesgo_germen_med"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CriteriosMayoresActivity"
            android:label="@string/title_activity_criterios_mayores"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RiesgoGermenGravActivity"
            android:label="@string/title_activity_riesgo_germen_grav"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CriteriosMenoresActivity"
            android:label="@string/title_activity_criterios_menores"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DiagnosticoDudosoActivity"
            android:label="@string/title_activity_diagnostico_dudoso"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".InformacionActivity"
            android:label="@string/title_activity_informacion"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PacientesActivity"
            android:label="@string/title_activity_pacientes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PatientsListActivity"
            android:label="@string/title_activity_patients_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
